Flask==2.3.3
Flask-SQLAlchemy==3.0.5
Flask-WTF==1.1.1
Flask-Login==0.6.3
Flask-Migrate==4.0.5
WTForms==3.0.1
flask-cors==4.0.0
python-dotenv==1.0.0
flask-jwt-extended==4.5.2
flask-bcrypt==1.0.1
jdatetime==4.1.0
openpyxl==3.1.2
requests==2.31.0
Pillow>=10.4.0
cryptography==41.0.7
psycopg2-binary==2.9.9
gunicorn==21.2.0
Werkzeug==2.3.7