* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Vazir', Tahoma, Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
}